<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title mr24">rBitrage.io</span>
    <span id="count" class="mdl-layout-title"></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="">BTC_USD</a>
      <a class="mdl-navigation__link" href="">ETH_USD</a>
      <a class="mdl-navigation__link" href="">LTC_USD</a>
      <a class="mdl-navigation__link" href="">XRP_USD</a>
    </nav>
  </div>
</header>
